/*------------------------
       COOKIES BOX

red: #EC3a47;
blue: #2F8CFF;
------------------------*/

.cookie {
  position: fixed;
  bottom: 25px;
  padding: 20px;
  width: 280px;
  left: 20px;
  z-index: 999999999999;
  background: #2F8CFF;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(12,34,110,0.1);
}

.cookie__text {
  font-family: "campton", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
  text-align: center;
}

.cookie__terms a {
  font-family: "campton", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: #fff!important;
  text-decoration: underline;
}

.cookie__close{
  cursor: pointer;
  text-transform: uppercase;
  width: 140px;
  font-family: "campton", Arial, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
  margin: auto;
  color: #FFFFFF;
  font-weight: 600;
  display: block;
  margin-top: 15px;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.cookie__close:hover{
  background: #fff;
  color: #2F8CFF;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
